@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif, Verdana, Geneva, Tahoma;
}
body,html{
    height: 100%;
}

/*Topo do site*/

#topo_home{
    display: flex;
    align-items: center;
    position: fixed;
    top:0;
    left: 0;
    padding:10px 0px;
    width: 100%;
    z-index: 1;
    background-color: rgb(255, 255, 255);
}

#btn_nav{
    font-size: 2rem;
    border: none;
    background: none;
    cursor: pointer;
    display: none;
}
#btn_fecharNav{
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background: none;
    font-size: 1.3rem;
    display: none;
}
#container__logoLinks{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0rem; 
}

#logo_reciclaRecife{
    text-indent: -999px;
    background-image: url(../../images/Logo.svg);
    background-repeat: no-repeat;
    width: 100px;
    background-size: cover;
    background-position: center;
    margin-left: 10px;
}

#links_container{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    font-weight: 500;
}

#links_container ul{
    display: flex;
    list-style: none;
    gap: 0.5rem;
}

#links_container ul li a{
    text-decoration: none;
    font-size: 1.3rem;
    padding-right: 1rem;
    color: black;
}


#banner_recicla_recife{
    position: relative;
    height: 100%;
}

#cont_imgBanner img{
    width: 100%;
    height: 100%;
}

#texto_banner{
    position: absolute;
    top: 25%;
    left: 6%;
    width: 40%;
    height: fit-content;
    background: rgba(255, 255, 255, 0.422);
    border-radius: 10px;
    padding: 30px;
    filter: blur(0.5px);
}



#texto_banner header{
    display: flex;
    align-items: center;
    padding: 10px 0px;
}

#texto_banner header img{
    width: 40%;
    height: 100%;
}

#texto_banner header h2{
    font-size: 1.5rem;
    font-weight: 500;

}

#texto_banner p{
    font-size: 1.3rem;
}




/* Seção de ações de reciclagem */
#acoes_reciclagem{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin: 50px 0px;

}

#acoes_reciclagem h2{
    font-size: 1.8rem;
}

#container_acoes_reciclagem{
    display: flex;
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 30px;
}
#container_acoes_reciclagem img{
    width: 25%;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


/* Seção de eventos */
#eventos{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
   
}

#titulo_section_eventos{
    text-align: center;
    font-size: 2.5rem;
    margin: 20px 0px;
}

#container_eventos{
    border: 1px solid rgba(0, 0, 0, 0.183);
    border-radius: 7px;
    width: 97%; 
    height: 80vh;
    margin: 20px 0px;
    padding: 20px 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    gap: 20px; 
    overflow-y: auto;
    perspective: 800px;
    background-color: rgba(248, 242, 242, 0.331);
    position: relative;
}

/* Modal de eventos caixa de diálogo*/
#modal_eventos{
    width: 100%;
    height: 150%;
    background-color: rgba(234, 228, 228, 0.338);
    border: 1px solid rgba(0, 0, 0, 0.267);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    display:none;
    backdrop-filter: blur(5px);
}

#container_infoModal{
    width: 90%;
    height: 80%;
    overflow-y: auto;
    border: 1px solid rgba(18, 16, 16, 0.512);
    position: sticky;
    top:0;
    bottom:0;
    background-color: white;
    border-radius: 7px;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* display: none; */

}
#container_infoModal header{
    display:flex;
    justify-content: space-between;
    background-color: #0baa55;
    width: 100%;
    position: sticky;
    top:0
}

#container_infoModal header #titulo_evento{
    color: white;
    font-size: 1.8rem;
    padding: 10px;
}
/* MODAL DE EVENTOS */
table{
    width: 100%;
    
    border-collapse: collapse;
}
table th{
    text-align: left;
    padding: 10px 8px;
    font-size: 1.1rem;
    font-weight: bold;
    border: 1px solid rgba(0, 0, 0, 0.367);

}
table td{
    border: 1px solid rgba(34, 33, 33, 0.527);
    font-size: 1.1rem;
    padding: 10px 8px;
    font-weight: bold;
}
.info_dados{
    font-weight: normal;
}



#btn_closeModalEvt{
    padding: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    background: none;
    border: none;
    color: white;
}

.box_eventos {
    border: 1px solid rgba(0, 0, 0, 0.518);
    border-radius: 7px;
    width: 100%; /* O item se ajusta à largura da coluna */
    height: fit-content;
    transition: 0.8s;
    cursor: pointer;
}
.box_eventos:hover{
    transform: translateZ(5px);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
}

.box_eventos header h3{
    text-align: center;
    font-size: 1.3rem;
    padding: 10px 0px;
    color: white;
}
.box_eventos header{
    background-color: rgb(9, 144, 72);
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    width: 100%;
}
.descricao_evento{
    height: 150px;
    width: 100%;
    padding: 5px;
    line-height: 25px;
    overflow: hidden;
    font-size: 1.1rem;
    letter-spacing: 1px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.231);
}

.btn_detalhes_evento{
    width: 60%;
    margin: 10px 0px;
    padding: 10px 30px;
    background-color: rgb(9, 144, 72);
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 7px;
    font-size: 1.3rem;
    cursor: pointer;
    transition: 0.8s;
    display: block;
    margin: 30px auto;
}
.btn_detalhes_evento:hover{
    color: black;
    background-color: rgb(7, 111, 55);
}



/*Sobre*/

#secao_sobre{
    display: flex;
    justify-content: center;
    gap: 20px;
    height: 100%;
    padding:30px 0px;
    flex-wrap: wrap;
}


#container_texto_sobre{
    width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid rgba(235, 234, 234, 0.707);
    border-radius: 7px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

#container_texto_sobre h2{
    font-size: 1.7rem;
}

#container_texto_sobre p{
    font-size: 1.4rem;
    padding-left: 5px;
    line-height: 30px;
}


#secao_sobre img{
    width: 40%;
    border-radius: 7px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}


/* Rodapé Home */

#rodape_home{
    height: 20%;
    background-color: #0c7a3f;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5rem;
}