@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    height: 100%;
    background-color: rgb(245, 243, 241);
}

body{
    font-family:"Roboto", sans-serif;
}
#container_painel{
    height: 100%;
    display: flex;
}
/* Nav */
#navbar_painel img{
    border-bottom: 1px solid rgba(25, 24, 24, 0.146);
    width: 100%;
    padding-left: 7%;
}
#navbar_painel{
    width: 25%;
    height: 100%;
    background-color: green ;
    display: flex;
    flex-direction: column;
}
#navbar_painel ul{
    list-style: none;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    
}
#navbar_painel ul li{
    width: 100%;
    text-align: center;
    display: inline-block;
}
#navbar_painel ul li a{
    text-decoration: none;
    color: rgb(228, 224, 224);
    font-size: 1.3rem;
    font-weight: 400;
    display: block;
    padding: 15px;
    transition: 0.3s;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    
}
#navbar_painel ul li a:hover{
    background-color: rgb(228, 224, 224);
    color: black;
    font-weight: bold;
}
#secao_meus_eventos{
    width: 85%;
    height:100%;
}
#secao_meus_eventos h1{
    border-bottom: 1px solid rgba(128, 128, 128, 0.028);
    background-color: rgb(237, 232, 232);
    color:rgba(34, 33, 33, 0.516);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    text-align: center;
    font-size: 3rem;
    font-weight: normal;
    letter-spacing: 2px;
}

#container_eventos{
    width: 90%;
    border: 1px solid rgba(0, 0, 0, 0.131);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    height: 80%;
    margin: 20px auto;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

